{% extends 'main.html.twig' %}

{% block title %}{{ trailer.title }} {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">
            {{ trailer.title }}
        </h1>
        <img src="{{ trailer.image }}" alt="{{ trailer.title }}">
        <p>
            {{ trailer.description }}
        </p>
        <a href="{{ trailer.link }}">
            {{ trailer.link }}
        </a>
        <br>
        <a href="{{ url_for('main') }}">
            back
        </a>
    </div>
{% endblock %}
