{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">Last {{ trailers | length }} iTunes Movie trailers</h1>
        <div class="row">
            {% for trailer in trailers %}
                <div class="card" style="width: 10rem;">
                    <img src="{{ trailer.image }}" class="card-img-top" alt=" {{ trailer.title }}">
                    <div class="card-body">
                        <a href="{{ url_for('movie-detail', { 'id': trailer.id }) }}">
                            <h5 class="card-title"> {{ trailer.title }}</h5>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
